<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<!-- boton que enlaza a ver detalle cliente (como volver) -->
				<h4 class="card-title">
					<a class="btn btn-light btn-xs"
						th:href="@{'/ver/' + ${factura.cliente.id}}"
						th:text="'&laquo; volver'"></a>
				</h4>

				<form th:action="@{/factura/form/}" th:object="${factura}"
					method="post">

					<div class="form-group row">
						<label for="cliente" class="col-sm-2 col-form-label"
							th:text="#{text.factura.form.cliente}"></label>
						<div class="col-sm-6">
							<!-- disabled solo para mostrar (no se guarda) -->
							<input name="cliente"
								th:value="${factura.cliente.nombre} + ' ' + ${factura.cliente.apellido}"
								class="form-control" disabled='disabled' />
						</div>
					</div>

					<!-- th:errorclass="'form-control is-invalid'" para cargar estilo si ocurre error -->
					<div class="form-group row">
						<label for="descripcion" class="col-sm-2 col-form-label"
							th:text="#{text.cliente.factura.descripcion}"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{descripcion}" class="form-control" th:errorclass="'form-control is-invalid'" />
							<!-- class="invalid-feedback" estilo  -->
							<!-- th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}" si hay errores muestra mensaje en contenedor  -->
							<div class="invalid-feedback" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
						</div>
					</div>

					<div class="form-group row">
						<label for="observacion" class="col-sm-2 col-form-label"
							th:text="#{text.factura.form.observacion}"></label>
						<div class="col-sm-6">
							<textarea th:field="*{observacion}" class="form-control"></textarea>
						</div>
					</div>

					<div class="form-group row">
						<label for="buscar_producto" class="col-sm-2 col-form-label"
							th:text="#{text.factura.form.buscar}"></label>
						<div class="col-sm-6">
							<!-- name="buscar_producto" id="buscar_producto" 
							hace una peticion asincrona ajax jquery-->
							<input type="text" name="buscar_producto" id="buscar_producto"
								class="form-control" />
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="${titulo}"
								class="btn btn-secondary" />
						</div>
					</div>
					
					<table th:replace="factura/plantilla-items :: itemsFactura"></table>
					
					<!-- table-sm (small) table-hover (cambia de color al pasar) -->
					<table id="cargarItemProductos"
						class="table table-sm table-striped table-hover">
						<thead>
							<tr>
								<th th:text="#{text.factura.form.item.nombre}">Nombre</th>
								<th th:text="#{text.factura.form.item.precio}">Precio</th>
								<th th:text="#{text.factura.form.item.cantidad}">Cantidad</th>
								<th th:text="#{text.factura.form.item.total}">Total</th>
								<th th:text="#{text.factura.form.item.eliminar}">Eliminar</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<h5><span th:text="#{text.factura.form.total}">Total</span> <span class="badge badge-secondary" id="gran_total">0</span></h5>
				</form>


			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
	<!-- se carga el javascript para completar productos en la linea -->
	<script th:replace="factura/js/autocomplete-productos :: javascript"></script>

</body>
</html>